<td class="notice_video__readed
    <% if (notice.get('status') === 0) { %> new">новое<% } %>
    <% if (notice.get('status') === 1) { %> approved">одобрено<% } %>
    <% if (notice.get('status') === 2) { %> not_approved">не одобрено<% } %>
</td>
<td><a href="<%= notice.get('data').video_url %>" target="_blank">видео</a></td>
<td><%= notice.get('data').cones %></td>
<td>
    <a href="#!profile-<%= notice.get('data').user %>" target="_blank"><%= notice.get('data').username %></a>
</td>
<td>
    <a href="#!trick<%= notice.get('data').trick %>" target="_blank"><%= notice.get('data').trickname %></a>
</td>
<td style="text-align:right;">
    <a href="#" class="notice_ok">Ok</a>
    <a href="#" class="notice_bad">Bad</a>
</td>

