<div class="achive__header">
    <h4><%= achive.get_title() %></h4>
    <div class="achive__status"<% if (achive.get('level') > 0) { %> title="Достижения получено: <%= achive.get_time_changed() %>"<% } %>></div>
</div>
<div class="achive__text">
    <%= achive.get_descr() %>
</div>
<ul class="achive__progress">
    <% childrens.forEach(function (e) { %>
        <li>
            <!-- TODO: реализовать подсавывание trick по trick_id, и там реализовать функцию get_url() -->
            <a href="#!trick<%= e.get('trick_id') %>"><%= e.get('title') %></a>
            <span title="Прогресс: <%= e.show_progress(achive.get_next_lvl()) %>"
                <% if (e.get('level') >= achive.get_next_lvl()) { %> class="achive_done"<% } %>>
                (lvl <%= achive.get_next_lvl() %>)
            </span>
        </li>
    <% }); %>
</ul>
