<% if (view === 'minify') { %>
    <div class="trick__dialog dialog_overflow"></div>
    <div class="trick__dialog">
        <a href="#" class="dialog__close toggle_dialog">x</a>

        <input type="text" id="dialog__cones" class="text cones" placeholder="сколько банок?" value="<%= model.get('cones') || '' %>" title="Только число" data-error-title="Только числа!" /> <a href="#" class="dialog__save">сохранить</a>

        <input type="text" id="dialog__video_url" class="text video_url" placeholder="ссылка на видео" value="<%= model.get('video_url') || '' %>" title="На YouTube" data-error-title="Это должна быть ссылка на видео с YouTube"/> или 
        <a href="#" class="upload_video_link">загрузить</a>
     
    </div>

    <div class="stats__row">
        делают: <%= model.get('users') %>
        <% if (user !== false) { %>
            <a class="trick__dialog_control toggle_dialog" href="#">+</a>
        <% } %>
    </div>
    <div class="stats__row row__best_user">
        <% if (model.get('best_user')) { %>
            <a href="#profile-<%= model.get('best_user')._id %>" class="view_profile" title="<%= model.get('best_user').nick %> лучше всех делает этот трюк!"><%= format_username(model.get('best_user').nick) %></a> 
            <%= plural(model.get('best_user_cones'), 'банка', 'банки', 'банок') %>
        <% } else { %>
            <div class="no_king">место короля свободно ...</div>
        <% } %>
    </div>

    <br class="clearfix">
<% } else if (view === 'full') { %>
    <div class="full_trick__dialog_holder">
        <div class="full_trick__dialog dialog_overflow"></div>
        <div class="full_trick__dialog">
            <a href="#" class="dialog__close toggle_dialog">x</a>
            <a href="#" class="dialog__save">+</a>

            <input type="text" id="dialog__cones" class="text cones" placeholder="банок" value="<%= model.get('cones') || '' %>" title="Только число" data-error-title="Только числа!" />

            <input type="text" id="dialog__video_url" class="text video_url" placeholder="ссылка на видео" value="<%= model.get('video_url') || '' %>" title="На YouTube" data-error-title="Это должна быть ссылка на видео с YouTube"/> или <a href="#" class="upload_video_link">загрузить</a>
        </div>

        <h5><%= model.get_title() %>:</h5><% if (user) { %><a class="check_full_trick_icon" href="#" title="<% if (model.get('cones') > 0) { %>Вы делаете этот трюк на <%= plural(model.get('cones'), 'банку', 'банки', 'банок') %>.<% } else { %>Вы еще не делаете этот трюк.<% } %>"><%= model.get('cones') || 0 %></a>
            <% } %>
    </div>
<% } %>
