<div class="trick__users top_users">
    <% if (users.length > 0) { %>
        <% users.forEach(function (user, i) { %>
            <div class="trick__user<% if (i === 0) { %> trick__user_king<% } %>">
                <span class="left_block" title="рейтинг пользователя"><%= user.get('rating') %></span>
                <% if (user.get('city')) { %><span class="info_block" title="город"><%= user.get('city') %></span><% } %>
                <% if (user.get('video_url')) { %>
                    <a class="has_video" href="<%= user.get('video_url') %>" target="_blank" title="есть видео подтверждение"></a>
                <% } %>
                <img src="<%= user.get('photo') %>" class="trick__user__photo">
                <a href="<%= user.get_profile_url() %>"><%= user.get('nick') %></a>
                <% if (user.get('team')) { %><span class="info_block_team" title="команда"><%= user.get('team') %></span><% } %>
            </div>
        <%}) %>
    <% } else { %>
        <div class="trick__user no_one">
            Еще никто не делает этот трюк!
        </div>
    <% } %>
</div>
<div class="clear"></div>
