<a class="trick__title" href="#trick/<%= model.get('id') %>"><%= model.get_title() %></a>
<div class="user_do_this_icon" title="Вы делаете этот трюк"></div>

<a href="#trick/<%= model.get('id') %>">
    <img src="/static/images/<%= model.get('thumb') %>" alt="<%= model.get('title') %>" class="trick__thumb" />
</a>
