<a class="trick__title" href="<%= model.href() %>"><%= model.get_title() %></a>
<div class="user_do_this_icon" title="Вы делаете этот трюк"></div>

<a href="#!trick<%= model.get('id') %>">
    <img src="<%= model.img_src() %>" alt="<%= model.get_title() %>" class="trick__thumb" />
</a>
