<% set_page_title(trick.get_title()) %>

<div class="trick__users">
<% if (users.length > 0) { %>
    <% _.map(users, function (row, i) {%>
        <div class="trick__user<% if (i === 0) { %> trick__user_king<% } %>">
            <span class="left_block"><%= row.cones %></span>
            <% if (row.video_url && row.approved == 1) { %>
                <a class="has_video video_approved" href="<%= row.video_url %>" target="_blank" title="есть видео подтверждение"></a>
            <% } %>
            <img src="<%= row.user.photo %>" class="trick__user__photo">
            <a href="#!profile-<%= row.user.id %>"><%= row.user.nick %></a>
        </div>
    <%}) %>
<% } else { %>
    <div class="trick__user no_one">
        Еще никто не делает этот трюк!
    </div>
<% } %>
</div>
<div class="trick__info">
    <%= checktrick.render('full') %>
    <div class="trick_video_preview">
        <div class="trick_video_preview_button"></div>
        <img src="<%= trick.large_img() %>" />
    </div>

    <div id="share" style="margin-left:-5px;"></div>

    <%= trick.get('descr_html') %>
</div>
<br class="clear">
