<%= set_page_title(user.get('nick')) %>

<div class="user__tricks">
    <% if (tricks.length > 0) { %>
        <% tricks.each(function (trick) {%>
            <div class="user__trick">
                <img src="<%= trick.img_src() %>" class="user__trick__thumb">
                <a href="<%= trick.href() %>"><%= trick.get_title() %></a>
                <span><%= trick.get('cones') %></span>
                <% if (trick.get('video_url') && trick.get('approved') == 1) { %>
                    <a class="has_video video_approved" href="<%= trick.get('video_url') %>" target="_blank" title="есть видео подтверждение"></a>
                <% } %>
            </div>
        <%}) %>
    <% } else { %>
        <div class="no_user__tricks">Вам пока нечем похвастаться ...</div>
    <% } %>
</div>
<div class="user__data">
    <img class="user__photo" src="<%= user.get('photo') %>" />
    <p>
        <strong>Рейтинг:</strong> <%= user.get('rating') %>
        <a href="<%= profile_page ? BTAchives.url_for_profile(user.get('id')) : BTAchives.url() %>" class="user_achives"></a>
    </p>
   <form></form>
</div>
<br class='clear'>
