<%= set_page_title(user.get('nick')) %>
<div class="user__tricks">
    <% if (tricks.length > 0) { %>
        <% _.map(tricks, function (trick) {%>
            <div class="user__trick">
                <img src="/static/images/<%= trick.trick.thumb %>" class="user__trick__thumb">
                <a href="#!trick<%= trick.trick._id %>"><%= trick.trick.title %></a>
                <span><%= trick.cones %></span>
            </div>
        <%}) %>
    <% } else { %>
        <div class="no_user__tricks">Вам пока нечем похвастаться ...</div>
    <% } %>
</div>
<div class="user__data">
    <img class="user__photo" src="<%= user.get('photo') %>" />
    <% if (profile) { 
        _.each({
            rating: 'Рейтинг',
            nick:   'Ник',
            team:   'Команда',
            phone:  'Телефон',
            city:   'Город',
            icq:    'ICQ',
            skype:  'Skype',
            rolls:  'Ролики',
            epxs:   'Стаж',
            bio:    'Информация'
            }, function (key, field_name) {
    %>
    <%= print_value_if_exists(key, user.get(field_name)) %> 
    <%  }); } else { %>
        <input placeholder="ник" type="text" id="id_nick" name="nick" value="<%= user.get('nick') %>" maxlength="100" />
        <input placeholder="команда" type="text" id="id_team" name="team" value="<%= user.get('team') %>" maxlength="100" />
        <input placeholder="e-mail" type="text" id="id_email" name="email" value="<%= user.get('email') %>" />
        <input placeholder="телефон" type="text" id="id_phone" name="phone" value="<%= user.get('phone') %>" />
        <input placeholder="город" type="text" id="id_city" name="city" value="<%= user.get('city') %>" maxlength="100" />
        <input placeholder="icq" type="text" id="id_icq" name="icq" value="<%= user.get('icq') %>" maxlength="10" />
        <input placeholder="skype" type="text" id="id_skype" name="skype" value="<%= user.get('skype') %>" />
        <input placeholder="я катаю на" type="text" id="id_rolls" name="rolls" value="<%= user.get('rolls') %>" />
        <input placeholder="стаж" type="text" id="id_epxs" name="epxs" value="<%= user.get('epxs') %>" />
        <textarea placeholder="О себе" id="id_bio" name="bio"><%= user.get('bio') %></textarea>
        <button type="button" class="save">Сохранить</button> <span class="save_status"><%= save_status_text %></span>
    <% } %>
</div>
<br class='clear'>
